Ben Starter Code

In [1]:
# Import Dependencies
import pandas as pd
import os
from unidecode import unidecode
from pathlib import Path
from pprint import pprint

In [2]:
# Pulling file from data files folder and converting to DF
file_name = Path("data_files/Player_Data_96_22.csv")
Player_Data_96_22_df = pd.read_csv(file_name)

# Keeping only the desired columns and then renaming them
Player_Data_96_22_df_clean = Player_Data_96_22_df[["player_name", "team_abbreviation", "age",
                                                   "player_height", "player_weight", "season"]]

# Renaming columns
Player_Data_96_22_df_clean = Player_Data_96_22_df_clean.rename(columns={"player_name":"Player Name",
                                                                        "team_abbreviation":"Team (3 Letter)",
                                                                        "age":"Age",
                                                                        "player_height":"Player Height",
                                                                        "player_weight":"Player Weight",
                                                                        "season":"Season"})

# Standardizing Column text typw and removing periods
Player_Data_96_22_df_clean["Player Name"] = Player_Data_96_22_df_clean["Player Name"].apply(lambda x: unidecode(str(x)))
Player_Data_96_22_df_clean["Player Name"] = Player_Data_96_22_df_clean["Player Name"].str.replace('.', '')

# Creating list of seasons to remove from file
removal_year_list = ['1996-97', '1997-98', '1998-99', '2020-21', '2021-22', '2022-23']

# Removing Seasons from file
Player_Data_96_22_df_clean = Player_Data_96_22_df_clean[~Player_Data_96_22_df_clean["Season"].isin(removal_year_list)]

# Saving cleaned file to new folder location in repo
Player_Data_96_22_df_clean.to_csv('clean_data_files/Player_Data_96_22_df_clean.csv')

Player_Data_96_22_df_clean.dtypes

Player Name         object
Team (3 Letter)     object
Age                  int64
Player Height      float64
Player Weight      float64
Season              object
dtype: object

In [3]:
# Pulling file from data files folder and converting to DF
file_name = Path("data_files/NBA_Demographics.csv")
NBA_Demographics_df = pd.read_csv(file_name)

# Keeping only the desired columns and then renaming them
NBA_Demographics_df_clean = NBA_Demographics_df[["Player", "Yrs", "From", "To", "Date", "City", "Region"]]

NBA_Demographics_df_clean = NBA_Demographics_df_clean.rename(columns={"Player":"Player Name",
                                                                      "Yrs":"Seasons in NBA",
                                                                      "From":"First Season Played",
                                                                      "To":"Last Season Played",
                                                                      "Date":"Birthdate",
                                                                      "City":"Birth City",
                                                                      "Region":"Birth State or Country"
                                                                      })

NBA_Demographics_df_clean["Birthdate"] = pd.to_datetime(NBA_Demographics_df_clean["Birthdate"])
NBA_Demographics_df_clean["Player Name"] = NBA_Demographics_df_clean["Player Name"].apply(lambda x: unidecode(str(x)))
NBA_Demographics_df_clean["Birth City"] = NBA_Demographics_df_clean["Birth City"].apply(lambda x: unidecode(str(x)))
NBA_Demographics_df_clean["Birth State or Country"] = NBA_Demographics_df_clean["Birth State or Country"].apply(lambda x: unidecode(str(x)))
NBA_Demographics_df_clean["Player Name"] = NBA_Demographics_df_clean["Player Name"].str.replace('.', '')
NBA_Demographics_df_clean["Player Name"] = NBA_Demographics_df_clean["Player Name"].str.replace('*', '')

# Saving cleaned file to new folder location in repo
NBA_Demographics_df_clean.to_csv('clean_data_files/NBA_Demographics_df_clean.csv')

NBA_Demographics_df_clean.dtypes

Player Name                       object
Seasons in NBA                     int64
First Season Played                int64
Last Season Played                 int64
Birthdate                 datetime64[ns]
Birth City                        object
Birth State or Country            object
dtype: object

In [4]:
# Pulling file from data files folder and converting to DF
file_name = Path("data_files/Player Info.csv")
Player_Info_df = pd.read_csv(file_name)

# Keeping only the desired columns and then renaming them
Player_Info_df_clean = Player_Info_df[["birthDate","college",
                                       "draft_pick", "draft_round", "draft_team",
                                       "draft_year", "name"]]

Player_Info_df_clean = Player_Info_df_clean.rename(columns={"birthDate":"Birthdate",
                                                            "college":"College Name",
                                                            "draft_pick":"Draft Number Picked",
                                                            "draft_round":"Draft Round",
                                                            "draft_team":"Draft Team",
                                                            "draft_year":"Draft Year",
                                                            "name":"Player Name"
                                                            })

Player_Info_df_clean["Birthdate"] = pd.to_datetime(Player_Info_df_clean["Birthdate"])
Player_Info_df_clean["Player Name"] = Player_Info_df_clean["Player Name"].apply(lambda x: unidecode(str(x)))
Player_Info_df_clean["Player Name"] = Player_Info_df_clean["Player Name"].str.replace('.', '')

# Saving cleaned file to new folder location in repo
Player_Info_df_clean.to_csv('clean_data_files/Player_Info_df_clean.csv')

Player_Info_df_clean.dtypes

Birthdate              datetime64[ns]
College Name                   object
Draft Number Picked            object
Draft Round                    object
Draft Team                     object
Draft Year                     object
Player Name                    object
dtype: object

In [5]:
# Pulling file from data files folder and converting to DF
file_name = Path("data_files/NBA_Team_Names.csv")
NBA_Team_Names_df = pd.read_csv(file_name)

# Keeping only the desired columns and then renaming them
NBA_Team_Names_df_clean = NBA_Team_Names_df[["abbreviation", "city", 'state', "full_name"]]


NBA_Team_Names_df_clean = NBA_Team_Names_df_clean.rename(columns={"abbreviation":"Team (3 Letter)",
                                                                  "city":"Team City",
                                                                  "state":"Team State",
                                                                  "full_name":"Team Name"})

# Saving cleaned file to new folder location in repo
NBA_Team_Names_df_clean.to_csv('clean_data_files/NBA_Team_Names_df_clean.csv')

In [6]:
# Pulling file from data files folder and converting to DF
file_name = Path("data_files/Player_Salaries.csv")
Player_Salaries_df_clean = pd.read_csv(file_name)

Player_Salaries_df_clean["Player Name"] = Player_Salaries_df_clean["Player Name"].apply(lambda x: unidecode(str(x)))
Player_Salaries_df_clean["Player Name"] = Player_Salaries_df_clean["Player Name"].str.replace('.', '')

# Saving cleaned file to new folder location in repo
Player_Salaries_df_clean.to_csv('clean_data_files/Player_Salaries_df_clean.csv')

In [7]:
# Merging Data Frames

merge_df_1 = pd.merge(NBA_Demographics_df_clean, Player_Info_df_clean, on=["Player Name", "Birthdate"], how="left")
merge_df_1.to_csv("merged_data files/first_merge_attempt.csv")

In [8]:

merge_df_2 = pd.merge(Player_Data_96_22_df_clean, Player_Salaries_df_clean, on=["Player Name", "Season"], how="left")
merge_df_2.to_csv("merged_data files/second_merge_attempt.csv")

In [9]:
merge_df_3 = pd.merge(merge_df_1, merge_df_2, on=["Player Name"], how="left")
merge_df_3.to_csv("merged_data files/third_merge_attempt.csv")

In [10]:
merge_df_4 = pd.merge(merge_df_3, NBA_Team_Names_df_clean, on=["Team (3 Letter)"], how="left")
merge_df_4.to_csv("merged_data files/fourth_merge_attempt.csv")

In [11]:
merge_df_4_filtered = merge_df_4[merge_df_4["First Season Played"] >= 1999]
merge_df_4_filtered = merge_df_4_filtered[merge_df_4_filtered["First Season Played"] <= 2019]
merge_df_4_filtered = merge_df_4_filtered.sort_values(by=['Player Name', 'Season'], ascending=[True, True])

filter_merged_sorted_df = merge_df_4_filtered[["Player Name",
                                               "Birthdate",
                                               "Birth City",
                                               "Birth State or Country",
                                               "College Name",
                                               "Draft Team",
                                               "Draft Year",
                                               "Draft Round",
                                               "Draft Number Picked",
                                               "Seasons in NBA",
                                               "First Season Played",
                                               "Last Season Played",
                                               "Season",
                                               "Age",
                                               "Player Height",
                                               "Player Weight",
                                               "Team (3 Letter)",
                                               "Team City",
                                               "Team Name",
                                               "Salary"
]]

merge_df_4_filtered.to_csv("merged_data files/fouth_merge_attempt_filtered.csv")

In [12]:
folder_path = 'data_files/Cities_States_Countries/'
# Iterate over each file in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        # Create the full file path
        file_path = os.path.join(folder_path, filename)

        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Iterate over columns and rows in the DataFrame
        for column in df.columns:
            df[column] = df[column].apply(lambda x: unidecode(str(x)) if isinstance(x, str) else x)
            
        # Save the modified DataFrame to a new CSV file
        output_csv_file = os.path.join(folder_path, f'converted_{filename}')
        df.to_csv(output_csv_file, index=False)

In [13]:
# Pulling file from data files folder and converting to DF
file_name = Path("data_files/Cities_States_Countries/converted_states.csv")
states_clean = pd.read_csv(file_name)

# # Keeping only the desired columns and then renaming them
states_clean = states_clean[["name", "country_id", "latitude", "longitude"]]

states_clean = states_clean.rename(columns={"name":"State",
                                            "latitude":"state latitude",
                                            "longitude":"state longitude"
                                            })

states_clean.head()

        State  country_id  state latitude  state longitude
0  Badakhshan           1       36.734772        70.811995
1     Badghis           1       35.167134        63.769538
2     Baghlan           1       36.178903        68.745306
3       Balkh           1       36.755060        66.897537
4      Bamyan           1       34.810007        67.821210

In [20]:
file_name = Path("data_files/Cities_States_Countries/converted_countries.csv")
countries_clean = pd.read_csv(file_name)

# Keeping only the desired columns and then renaming them
countries_clean = countries_clean[["id", "name", "latitude", "longitude"]]


countries_clean = countries_clean.rename(columns={"id":"country_id",
                                            "name":"Country"})

# Saving cleaned file to new folder location in repo
countries_clean.to_csv('data_files/Cities_States_Countries/countries_clean.csv')

countries_clean.head()

   country_id         Country   latitude  longitude
0           1     Afghanistan  33.000000       65.0
1           2   Aland Islands  60.116667       19.9
2           3         Albania  41.000000       20.0
3           4         Algeria  28.000000        3.0
4           5  American Samoa -14.333333     -170.0

In [15]:
locations = pd.merge(states_clean, countries_clean, on='country_id', how="left")

locations.head()
# # Keeping only the desired columns and then renaming them

# locations = locations.rename(columns={"name_x":"State Name",
#                                             "name_y":"Country Name"
#                                             })

# locations.to_csv("merged_data files/locations.csv")
# locations.head()

        State  country_id  state latitude  state longitude      Country
0  Badakhshan           1       36.734772        70.811995  Afghanistan
1     Badghis           1       35.167134        63.769538  Afghanistan
2     Baghlan           1       36.178903        68.745306  Afghanistan
3       Balkh           1       36.755060        66.897537  Afghanistan
4      Bamyan           1       34.810007        67.821210  Afghanistan

In [24]:
adding_location = pd.merge(merge_df_4_filtered, locations,
                     how='left', 
                     left_on=['Birth State or Country'], 
                     right_on=['State'])

adding_location.loc[adding_location['Country'] != 'United States', 'Country'] = 'International'
adding_location.loc[adding_location['College Name'].isna(), 'College Name'] = 'NaN'
adding_location.loc[adding_location['Draft Number Picked'].isna(), 'Draft Number Picked'] = 'Undrafted'
adding_location.loc[adding_location['Draft Round'].isna(), 'Draft Round'] = 'Undrafted'
adding_location.loc[adding_location['Draft Team'].isna(), 'Draft Team'] = 'Undrafted'
adding_location.loc[adding_location['Draft Year'].isna(), 'Draft Year'] = 'Undrafted'
adding_location = adding_location.drop(['country_id', 'State'], axis=1)
adding_location["Birthdate"] = pd.to_datetime(adding_location["Birthdate"]).dt.year
adding_location = adding_location.dropna(subset=['Team Name'])


adding_location.to_csv("merged_data files/adding_location.csv")

In [28]:
file_name = Path("data_files/stadiums.csv")
stadiums = pd.read_csv(file_name)

adding_stadiums = pd.merge(adding_location, stadiums, how='left', left_on='Team Name', right_on='Team')
adding_stadiums = adding_stadiums.rename(columns={"Lat":"Team Latitude",
                                            "Long":"Team Longitude"})

adding_stadiums = adding_stadiums.drop(['Division', 'League', 'Team'], axis=1)

In [30]:
adding_stadiums.head()
adding_stadiums.to_csv("merged_data files/adding_stadiums.csv")